$ORIGIN {{ reverse_ip }}.in-addr.arpa.   ; Zone starting point in the name-space tree
                     ; (if skipped - the origin is inferred by the DNS server based on
                     ; zone declaration in name.conf.local file
$TTL 15M             ; Default expiration time for all resources
@ IN SOA ns1.{{ hostname }}.{{ domain_name }}. root.{{ hostname }}.{{ domain_name }}.(
     2012020101       ; Serial
        15M	  ; Refresh
        5M        ; Retry
        604800    ; Expire
        600 )     ; Negative Cache TTL
@             IN      NS      ns1.{{ hostname }}.{{ domain_name }}.	 ;
{{ host_portion }}           IN      PTR     ns1.{{ hostname }}.{{ domain_name }}.       ;